<?xml version="1.0" ?>
<model>
    <name>maa_cenario2</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Mauricio A. Almeida</name>
        <email>d2021101420@uinifei.edu.br</email>
    </author>
    <description>Cenario de Mauricio</description>
</model>
