<?xml version="1.0"?>
<model>
  <name>Robo de Mauricio</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
  
  <author>
   <name>Mauricio A. Almeida</name>
   <email>d2021101420@unifei.edu.br</email>
  </author>
  
  <description>
    Um robo diferencial drive
  </description>
</model> 
